
    
      /* .login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(https://www.pexels.com/photo/red-and-brown-temple-roofs-2104882/);
      }
      
      .lContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      .lInput{
        height: 50px;
        padding: 10px;
      }
      
      .lButton {
        border: none;
        padding: 10px 20px;
        background-color: #0071c2;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .lButton:disabled{
        background-color: #0071c28c;
        cursor: not-allowed;
      }
      .registerbutton{
        align-items: center;
        justify-content: center;
      } */

      


      .login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("https://www.travelandleisure.com/thmb/BJupPeakYV7RY_vQQnmvrKAl7LU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/soneva-jani-sunset-view-maldives-SONEVA0421-74b37591d80441ce87831a41da518e49.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
      }
      
      .lContainer {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
      }
      
      .lInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .lButton {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
      }
      
      .registerbutton {
        margin-top: 10px;
        text-align: center;
      }
      
      .register1 {
        color: #4caf50;
        text-decoration: none;
      }
      
      .error {
        color: red;
        font-size: 12px;
        margin-bottom: 5px;
      }
      