 

.travel-planner {
  background-image: url('https://images.unsplash.com/photo-1646030801530-11e4563bacbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-color: #1e90ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Add this to prevent image repetition */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center content */
  padding: 20px;
  width: 100%;
  min-height: 100vh; /* Use min-height to ensure full screen even with minimal content */
  margin: 0; /* Remove any default margin */
  overflow: hidden; /* Hide any potential overflow */
}

  .travel-planner h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  }
  
  .travel-planner div {
  margin-bottom: 20px;
  }
  
  .travel-planner label {
  font-size: 1.2rem;
  margin-right: 10px;
  }
  
  .travel-planner select {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  }
  
  .travel-planner input[type='number'] {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  }
  
  .travel-planner input[type='checkbox'] {
  margin-left: 10px;
  margin-right: 10px;
  }
  
  .travel-planner button {
  font-size: 1.2rem;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .budget-display {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  }
  
  @media (max-width: 768px) {
  .travel-planner {
  padding: 10px;
  }
  
  .travel-planner h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  }
  
  .travel-planner label {
  font-size: 1rem;
  }
  
  .travel-planner select {
  font-size: 0.8rem;
  padding: 3px;
  }
  
  .travel-planner input[type='number'] {
  font-size: 0.8rem;
  padding: 3px;
  }
  
  .travel-planner button {
  font-size: 1rem;
  padding: 8px;
  }
  
  .budget-display p {
  font-size: 1rem;
  }
  }
